// colors

$color-primary: #f8755e;
$color-primary-light: #ff9d8c;
$color-primary-dark: #d55d48;
$color-primary-darker: #d13b3a;

$color-green: #30c479;
$color-green-dark: #269e62;
$color-blue: #2783f4;
$color-blue-dark: #1e64b9;

$color-text: #383838;
$color-text-light: #a0a0a0;
$color-text-dark: #303030;
$color-text-darker: #212121;

$color-gray-lighter: #ededed;
$color-gray-light: #c6c8c9;
$color-gray: #828487;

$color-error: #cc3c64;
$color-success: #07815c;
$color-white: #ffffff;
$color-black: #000000;
