body {
  color: $color-text;
}

$font-Segoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-openSans: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
$font-montserrat: "Montserrat", Montserrat, Tahoma, Geneva, Verdana, sans-serif;

.progress_steps-item .step-title {
  font-family: $font-Segoe;
  font-weight: 700;
  color: $color-gray-light;
  font-size: 18px;
}
.progress_steps-item.active .step-title {
  color: $color-text-dark;
}

.main_title-header {
  font-size: 26px;
  font-family: $font-Segoe;
  font-weight: 700;
  color: $color-text-dark;
}
.main_title-sub {
  font-size: 16px;
  font-family: $font-Segoe;
  font-weight: 600;
  color: $color-text-semidark;
}
.main_title-success {
  font-size: 20px;
  font-family: $font-Segoe;
  font-weight: 700;
}

.campaign-details .camp-logo legend,
.campaign-details .camp-photo legend,
.campaign-details legend {
  font-size: 14px;
  font-family: $font-Segoe;
  font-weight: 600;
  color: $color-text-dark;
}

.campaign-details input,
.campaign-details textarea {
  font-size: 16px;
  font-family: $font-Segoe;
  font-weight: 600;
  color: $color-text-dark;
}
.campaign-details input::placeholder,
.campaign-details textarea::placeholder,
.campaign-details .form-file-text {
  font-size: 14px;
  font-family: $font-Segoe;
  font-weight: 600;
  color: $color-text-light;
}

.btn {
  font-size: 16px;
  font-family: $font-Segoe;
  font-weight: 700;
}

.card-title {
  font-size: 18px;
  font-family: $font-montserrat;
  font-weight: 700;
  color: $color-text-darker;
}
.card-subtitle {
  font-size: 14px;
  font-family: $font-montserrat;
  font-weight: 500;
  color: $color-text-light !important;
}
.card-text {
  font-size: 14px;
  font-family: $font-montserrat;
  font-weight: 500;
  color: $color-gray-dark;
}

.share_link-title {
  font-size: 16px;
  font-family: $font-Segoe;
  font-weight: 700;
  color: $color-text-dark;
}

.email_invite .text-truncate,
.share_link-box .link {
  font-size: 14px;
  font-weight: 600;
  font-family: $font-openSans;
}
.email_invite .text-truncate {
  color: $color-text-light;
}
.email_invite label {
  font-size: 14px;
  font-family: $font-Segoe;
  font-weight: 600;
  color: $color-text-dark;
}

.error-text {
  font-size: 14px;
  font-family: $font-Segoe;
  font-weight: 600;
  color: $color-error;
  padding: .5rem;
}
