.rounded {
  border-radius: 1rem !important;
}

.main_title {
  width: 100%;
  text-align: center;
  margin-bottom: 3.6rem;
  &-header {
    font-size: 1.625rem;
    color: $color-text-dark;
  }
  &-sub {
    color: $color-text-light;
    font-size: 1rem;
    margin-top: 1rem;
  }
  &-success {
    color: $color-primary;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
  }
}

.sub-logo {
  border: 1px solid $color-gray-light;

  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  img {
    width: 1.2rem;
    object-fit: cover;
  }
}

.record-img {
  img {
    width: 100%;
    object-fit: contain;
  }

  @media (max-width: 576px) {
    margin-bottom: 3rem;
  }
}

.btn-camp {
  margin-top: 3.75rem;
  box-shadow: $shadow;
  &:hover {
    box-shadow: $shadow-xl;
  }
}
.btn-red {
  background-color: $color-primary;
  border-color: $color-primary;
  box-shadow: $shadow;
  &:hover,
  &:active,
  &:focus {
    background-color: $color-primary-dark !important;
    border-color: $color-primary-dark !important;
    outline: none;
    box-shadow: $shadow-md;
  }
}

.btn-err {
  background-color: $color-primary-darker;
  border-color: $color-primary-darker;
  box-shadow: $shadow-md;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color-primary-darker, 5) !important;
    border-color: darken($color-primary-darker, 5) !important;
    outline: none;
    box-shadow: $shadow-lg;
  }
}

.btn-green {
  background-color: $color-green;
  border-color: $color-green;
  box-shadow: $shadow-md;
  &:hover,
  &:active,
  &:focus {
    background-color: $color-green-dark !important;
    border-color: $color-green-dark !important;
    outline: none;
    box-shadow: $shadow-lg;
  }
}
.btn-blue {
  background-color: $color-blue;
  border-color: $color-blue;
  box-shadow: $shadow-md;
  &:hover,
  &:active,
  &:focus {
    background-color: $color-blue-dark !important;
    border-color: $color-blue-dark !important;
    outline: none;
    box-shadow: $shadow-lg;
  }
}
